@charset "utf-8";

/* 
	Author: ALISSA HARDISON
	Date: 11 APR 2022
	
	Filename: zsp_commissions.css
	This file contains the styles for ZSP Commissions Page:
	>> RESET: styles for all devices under all conditions
	>> MOBILE: styles for home page on mobile
	>> TABLET: styles for home page on tablets
	>> PC: styles for home page on computers
*/
/* ===========================================================================
								>> RESET
   ===========================================================================
*/

html {
	background-image: url('/images/bg_hallway.png');	
}

body, header, section, aside { 
	display: block;
}

body, section, h1, h2, h3, h4, header, html, img {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body{
	background-color: rgb(230, 218, 186);
}

/* ===========================================================================
								>> MOBILE (=<480px)
   ===========================================================================
*/	@media only screen and (max-width: 480px) {
	
	body{
		width: 100%;
	}
	
	header img {
		width: 20%;
		margin: 10% auto 20% 20%;
	}
	
	header h1 {
		font-size: 3em;
		float: right;
		margin: 12% 30% 7% auto;
	}
	
	div {
		width: 90%;
		margin: 15% 5% 5%;
		text-align: center;
	}
	
	h3 {
		font-size: 2em;
	}
	
	img#ig_icon {
		height: 50px; 
		width: 50px;
		float: left;
		margin:  5% auto auto 25%;
	}
	
	img#yt_icon {
		height: 50px;
		width: 50px;
		float: right;
		margin: 5% 25% auto auto;
	}
	
	footer > p {
		width: 100%;
		display: block;
		text-align: center;
		position: fixed;
		bottom: 0;
	}
}

/* ===========================================================================
								>> TABLET (480<<769px)
   ===========================================================================
*/	@media only screen and (min-width: 481px) {
	body {
		width: 100%;
	}
	
	header img {
		width: 7%;
		margin: 2% auto auto 38%;
	}
	
	header > h1 {
		font-size: 5em;
		float: right;
		margin: 1% 43% auto auto;
		line-height: 1.5em;
		font-family: serif;
	}
	
	div#comingSoon {
		width: 40%;
		text-align: center;
		margin: 10% 30% 5%;
	}
	
	h3 {
		font-size: 2.5em;
	}
	
	img#ig_icon {
		height: 80px;
		width: 80px;
		max-height: 80px;
		max-width: 80px;
		margin: auto 47%;
	}
	
	img#yt_icon {
		height: 80px;
		width: 80px;
		max-height: 80px;
		max-width: 80px;
		float: right;
		margin: 2% 37% auto auto;
	}
	
	footer > p {
		width: 100%;
		display: block;
		text-align: center;
		position: fixed;
		bottom: 0;
	}
}

/* ===========================================================================
								>> PC (>=769px)
   ===========================================================================
*/	@media only screen and (min-width: 769px) {
	body {
		width: 100%;
	}
	
	header img {
		width: 7%;
		margin: 2% auto auto 38%;
	}
	
	header > h1 {
		font-size: 5em;
		float: right;
		margin: 1% 43% auto auto;
		line-height: 1.5em;
		font-family: serif;
	}
	
	div#comingSoon {
		width: 40%;
		text-align: center;
		margin: 10% 30% 5%;
	}
	
	h3 {
		font-size: 2.5em;
	}
	
	img#ig_icon {
		height: 80px;
		width: 80px;
		max-height: 80px;
		max-width: 80px;
		float: left;
		margin: 2% auto auto 40%;
	}
	
	img#yt_icon {
		height: 80px;
		width: 80px;
		max-height: 80px;
		max-width: 80px;
		float: right;
		margin: 2% 40% auto auto;
	}
	
	footer > p {
		width: 100%;
		display: block;
		text-align: center;
		position: fixed;
		bottom: 0;
	}
}