@charset "utf-8";

/* 
	Author: ALISSA HARDISON
	Date: 11 APR 2022
	
	Filename: zsp_commissions.css
	This file contains the styles for ZSP Commissions Page:
	>> RESET: styles for all devices under all conditions
	>> MOBILE: styles for home page on mobile
	>> TABLET: styles for home page on tablets
	>> PC: styles for home page on computers
*/
/* ===========================================================================
								>> RESET
   ===========================================================================
*/

html {
	background-image: url('/images/bg_hallway.png');	
}

body, header, section, aside { 
	display: block;
}

body, section, h1, h2, h3, h4, header, html, img {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body{
	background-color: rgb(230, 218, 186);
}

/* ===========================================================================
								>> MOBILE (=<480px)
   ===========================================================================
*/	@media only screen and (max-width: 480px) {
	
	body{
		width: 100%;
	}
	
	header img {
		width: 15%;
		margin: 8% auto 5% 12%;
	}
	
	header h1 {
		font-size: 3em;
		float: right;
		margin: 10% 18% 7% auto;
	}
	
	div {
		width: 90%;
		margin: auto 5%;
	}
	
	div#missionStatement {
		text-align: center;
	}

	hr { display: none;}
	
	img#nedPortrait {
		display: block;
		height: 350px;
		max-height: 350px;
		margin: 5% auto;
	}
	
	div#aboutNed {
		text-align: justify;
	}
	
	div#interviews {
		text-align: center;
	}
	
	h3 {
		text-align: center;
		font-size: 1.7em;
		line-height: 1.7em;
	}
	
	div > a {
		font-size: 0.9em;
	}

	footer > p {
		width: 100%;
		display: block;
		text-align: center;
		position: relative;
		bottom: 0;
	}
	
}

/* ===========================================================================
								>> TABLET (480<<769px)
   ===========================================================================
*/	@media only screen and (min-width: 481px) {
	body {
		width: 100%;
	}
	
	header img {
		width: 7%;
		margin: 2% auto 1% 35%;
	}
	
	header > h1 {
		font-size: 5em;
		float: right;
		margin: 1% 35% auto auto;
		line-height: 1.5em;
		font-family: serif;
	}
	
	div#missionStatement {
		width: 60%;
		text-align: center;
		margin: auto 20% auto 20%;
		font-size: 1.1em;
	}
	
	hr {
		width: 50%;
	}
	
	img#nedPortrait {
		max-height: 500px;
		height: 400px;
		margin: auto auto auto 10%;
		float: left;
	}
	
	div.right {
		width: 50%;
		margin: 2% 15% auto auto;
		font-size: 1.1em;
		line-height: 1em;
	}
	
	div#aboutNed {
		text-align: justify;
	}
	
	h3 {
		font-size: 1.5em;
		line-height: 1.2em;
	}
	
	p {
		margin-top: 1%;
	}
	
	footer > p {
		width: 100%;
		display: block;
		text-align: center;
		position: fixed;
		bottom: 0;
	}
}

/* ===========================================================================
								>> PC (>=769px)
   ===========================================================================
*/	@media only screen and (min-width: 769px) {
	body {
		width: 100%;
	}
	
	header img {
		width: 7%;
		margin: 2% auto 1% 35%;
	}
	
	header > h1 {
		font-size: 5em;
		float: right;
		margin: 1% 35% auto auto;
		line-height: 1.5em;
		font-family: serif;
	}
	
	div#missionStatement {
		width: 60%;
		text-align: center;
		margin: auto 20% auto 20%;
		font-size: 1.1em;
	}
	
	hr {
		width: 50%;
	}
	
	img#nedPortrait {
		max-height: 500px;
		height: 400px;
		margin: auto auto auto 10%;
		float: left;
	}
	
	div.right {
		width: 50%;
		margin: 2% 15% auto auto;
		font-size: 1.1em;
		line-height: 1em;
	}
	
	div#aboutNed {
		text-align: justify;
	}
	
	h3 {
		font-size: 1.5em;
		line-height: 1.2em;
	}
	
	p {
		margin-top: 1%;
	}
	
	footer > p {
		width: 100%;
		display: block;
		text-align: center;
		position: fixed;
		bottom: 0;
	}
}



